---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
          {{ post.excerpt }}

          {% capture content_words %} 
            {{ post.content | number_of_words }} 
          {% endcapture %} 
          {% capture excerpt_words %} 
            {{ post.excerpt | number_of_words }} 
          {% endcapture %} 

          {% if excerpt_words != content_words %}
            <p>&raquo; <a href="{{ post.url }}#read-more">Continue reading</a>
            </p>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">&lt;&lt;</a>
    {% endif %}
    <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">&gt;&gt;</a>
    {% endif %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
