<div id="new-comment">
    <h2>Leave a comment</h2>
    <p id="reply-to">Replying to <span id="reply-target"></span>&nbsp;(<a href="javascript:clearReplyTo();">clear</a>)</p>
</div>

<form id="post-new-comment" class="form" action="{{ site.staticmanUrl }}" method="post">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}">
    <input id="comment-parent" type="hidden" name="options[parent]" value="{{ post_slug }}">
    <input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}">

    <input type="hidden" name="options[reCaptcha][siteKey]" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">
    <input type="hidden" name="options[reCaptcha][secret]" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA">

    <input class="form-field text-field" type="text" name="fields[name]" placeholder="Name" required/>
    <input class="form-field text-field" type="email" name="fields[email]" placeholder="Email address (will not be public)" required/>
    <input class="form-field text-field" type="url" name="fields[url]" placeholder="Website (optional)"/>

    <textarea id="form-comment-input" class="form-field text-field" rows="10" name="fields[message]" placeholder="Comment. Markdown is accepted." required></textarea>
    <div id="comment-preview"></div>

    <div class="material-checkbox">
        <input id="form-subscribe" type="checkbox" name="options[subscribe]" value="email">
        <label for="form-subscribe">I want to be notified of new comments</label>
    </div>
    <button type="button" id="comment-preview-button">Preview</button>

    <div class="form-recaptcha g-recaptcha" data-sitekey="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"></div>
    <!--<script src='https://www.google.com/recaptcha/api.js'></script> -->

    <input class="cta" type="submit" value="Comment"/>
</form>

<script type="text/javascript" src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>
<script type="text/javascript">
    // Reply to
    function replyTo(id, author) {
        window.location.hash = "#new-comment";
        document.getElementById("comment-parent").value = id;
        document.getElementById("reply-target").innerText = author;
        document.getElementById("reply-to").style.display = "block";
    }

    function clearReplyTo() {
        window.location.hash = "cleared-reply-to";
        document.getElementById("comment-parent").value = "{{ post_slug }}";
        document.getElementById("reply-to").style.display = "none";
    }

    // Markdown preview
    var converter = new showdown.Converter();
    var previewButton = document.getElementById('comment-preview-button');
    var textArea = document.getElementById('form-comment-input');
    var commentPreview = document.getElementById('comment-preview');

    previewButton.onclick = function() {
        if (textArea.style.display != "none") {
            commentPreview.innerHTML = converter.makeHtml(textArea.value);
            textArea.style.display = "none";
            commentPreview.style.display = "block";
            previewButton.innerText = "Edit";
        } else {
            textArea.style.display = "block";
            commentPreview.style.display = "none";
            previewButton.innerText = "Preview";
        }
    };
</script>