/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    border: 0;
    color: $header-color;

    &:hover {
        border: 0;
        color: lighten($header-color, 25%);
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    
    .menu-icon {
        display: none;
        border: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        margin: 8px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .nav-links {
            clear: both;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.25s ease-out;
            margin-bottom: 10px;
        }

        &:hover .nav-links {
            max-height: none;
            transition: max-height 0.25s ease-in;
        }

        .page-link {
            display: block;
            margin-top: 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.rss-subscribe {
    text-align: right;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit * 2;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-bottom: 0;
}


/**
 * Posts
 */
.post-title {
    display: block;
    font-size: 2em; 
}

.post-content {
    margin-bottom: $spacing-unit;    
}

.pagination {
    text-align: center;

    span, a {
        margin-left: 1em;
        margin-right: 1em;
    }
}


/**
* Content
*/

.videowrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    width: 100%;
}

.videowrapper > iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.center-image {
    margin: 0 auto;
    display: block;
}

/**
* Forms
*/
#post-new-comment {
    input {
        display: block;
    }

    textarea {
        display: block;
        width: 100%
    }
}

#form-subscribe {
    display: inline;
}

.comment-header {
    overflow: hidden;
    line-height: 24px;
    vertical-align: middle;

    .comment-meta > * {
        margin: 0;
        display: inline;
    }

    p, span {
        font-size: $small-font-size;
    }
}

.comment-replies {
    margin-top: $spacing-unit;
    padding-left: $spacing-unit;
}

@include media-query($on-palm) {
    .comment-replies {
        padding-left: $spacing-unit / 2;
    }
}

.comment {
    margin-bottom: $spacing-unit;

    /** Limit left padding to 3 **/
    & .comment .comment .comment-replies {
        padding-left: 0
    }
}



.comment-avatar {
    float: left;
    img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border-radius: 50%;
        margin-top: -2px;
    }
}

.comment-body p {
    margin-bottom: $spacing-unit / 6;
}

.comment-reply {
    float: right;
    padding-right: $spacing-unit /2;
}

#new-comment {
    margin-bottom: $spacing-unit /2;

    & > h2, p {
        margin-bottom: 0;
    }

    & > #reply-to {
        font-size: $small-font-size;
        font-style: italic;
        display: none;
    }
}


// Input fields
input, textarea {
    &:focus {
        border: 0;
        border-bottom: 1px solid $brand-color;
        outline: none !important;
    }

    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid $grey-color-semilight;
    background-color: transparent;
}

textarea {
    width: 100%;
    resize: vertical;
    height: 100px;
    min-height: 100px;
    max-height: 300px;
    line-height: 1.5em;
}


input[type=submit] {
    background-color: $brand-color;
    color: #fff;
    padding: $spacing-unit / 2 $spacing-unit;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
        background-color: $brand-color-dark;
    }

    &:disabled, &[disabled] {
        background-color: darken($brand-color, 30%);
    }
}

#post-new-comment {
    input[type=text], input[type=email], input[type=url] {
        min-width: 300px;
    }

    .form-recaptcha {
        margin-top: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
    }


    $checkbox-size: 20px;
    $checkbox-padding: 4px;
    $checkbox-border: 2px;

    .material-checkbox {
        display: inline-block;
        position: relative;
        line-height: $checkbox-size + $checkbox-padding + $checkbox-border;
        margin-bottom: $spacing-unit / 2;

        & > * {
            display: inline;
            
        }
      
        label {
            cursor: pointer;

            &:before, &:after {
                content: "";
                position: absolute;
                left:0;
                top: $checkbox-padding;
                box-sizing: border-box;
            }

            &:before {
                width: $checkbox-size;
                height: $checkbox-size;
                background: #fff;
                border: $checkbox-border solid $grey-color-semilight;
                border-radius: $checkbox-border;
                cursor: pointer;
                transition: all .2s;
            } 
        }
        
        input[type="checkbox"] {
            outline: 0;
            margin-right: $checkbox-size / 2;
          
            &:checked {
                + label:before {
                    background-color: $brand-color;
                    border:none;
                }

                + label:after {
                    transform: rotate(-45deg);
            
                    top: ($checkbox-size / 2);
                    left: $checkbox-padding;
                    width: $checkbox-size - 2 * $checkbox-padding;
                    height: ($checkbox-size - 2 * $checkbox-padding) / 2;
                    
                    border: $checkbox-border solid #fff;
                    border-top-style: none;
                    border-right-style: none;
                } 
            }
        }
    }
}

#comment-preview-button {
    float: right;
    background: transparent;
    box-shadow: none;
    border: 0;
    outline:none;
    cursor: pointer;
    padding: $spacing-unit / 3;
    font-weight: bold;
}

#comment-preview {
    display: none;
    margin-bottom: $spacing-unit / 2;
    margin-top: 5px;
    min-height: 100px;
    border-bottom: 1px solid $grey-color-semilight;
}

// Search form and page
.search-form {
    text-align: right;

    label {
        margin-right: 10px;
    }
}


#search-results {
    margin-top: $spacing-unit;
    list-style: none;
    margin: $spacing-unit 0;

    h3 {
        margin-bottom: 5px;
    }
}