<!DOCTYPE html>
<html>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
  
        // Lazy load images
        var lazyElements = [].slice.call(document.querySelectorAll("img.lazy, iframe.lazy"));
        if ("IntersectionObserver" in window) {
          let lazyObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
              if (entry.isIntersecting) {
                let lazyElement = entry.target;
                lazyElement.src = lazyElement.dataset.src;
                lazyElement.classList.remove("lazy");
                lazyObserver.unobserve(lazyElement);
              }
            });
          });
  
          lazyElements.forEach(function(lazyElement) {
            lazyObserver.observe(lazyElement);
          });
        } else {
          lazyElements.forEach(function(img) {
              img.src = img.dataset.src;
              img.classList.remove("lazy");
          });
        }
      });
  
      function script(url) {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = url;
        var x = document.getElementsByTagName('head')[0];
        x.appendChild(s);
      }

      function stylesheet(url) {
        var s = document.createElement('link');
        s.rel = 'stylesheet';
        s.href = url;
        var x = document.getElementsByTagName('head')[0];
        x.appendChild(s);
      }
  
      </script>


  {% include head.html %}

  <body>
    <script>stylesheet('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');</script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>script('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML');</script>
  </body>

</html>
